*.v2
SuperNewRoles/obj/Debug/SuperNewRoles.GeneratedMSBuildEditorConfig.editorconfig
SuperNewRoles/bin/
*.dll
SuperNewRoles/SuperNewRoles.csproj.user
.vs/
SuperNewRoles/obj/*
.vs/SuperNewRoles/v17/.suo
