*.v2
SuperNewRoles/obj/
SuperNewRoles/bin/
*.dll
SuperNewRoles/SuperNewRoles.csproj.user
.vs/
SuperNewRoles/obj/*
.vs/SuperNewRoles/v17/.suo
SuperNewRoles/obj/Debug/netstandard2.1/SuperNewRoles.GeneratedMSBuildEditorConfig.editorconfig
