SuperNewRoles/SuperNewRoles.csproj.user
SuperNewRoles/obj/
SuperNewRoles/bin/
SuperNewRoles.Tests/bin/
SuperNewRoles.Tests/obj/
Build/
Claude.md
*.v2
*.dll
.vs/
OldSuperNewRoles_readonly/
.cursor/
AmongUsCS/
hatstest.bundle
*.trx